 #AB{  
    background-color: #4CAF50;  
    color: white;  
    padding: 15px 30px;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    font-size: 18px;  
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;  
    margin-right: 10px;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
}  

#AB:hover {  
    background-color: #45a049;  
    transform: translateY(-4px);  
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);  
}  

#AB:active {  
    background-color: #388e3c;  
    transform: translateY(2px);  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  
}  

#SB {  
    background-color: #f44336;  
    color: white;  
    padding: 15px 30px;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    font-size: 18px;  
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;  
    margin-left: 10px;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
}  
#SB:hover {  
    background-color: #e53935;  
    transform: translateY(-4px);  
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);  
}  

#SB:active {  
    background-color: #c62828;  
    transform: translateY(2px);  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  
}